---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const projectPosts = await getCollection('project');
  console.log(projectPosts);
  return projectPosts.map((entry) => ({
    params: { slug: entry.slug == 'index' ? undefined : entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>
<Content />
